<template>
  <div class="VideoItem__wrapper clearfix">
    <div class="card-body" style="width: 62rem;">
      <div class="card-body text-center">
        <h5 class="card-title">My Playlist</h5>
        <v-card v-for="video in videos" :key="video.id">
          <br />
          <h3 class="text-left">{{ video.name }}</h3>
          <video-embed css="embed-responsive-21by9" :src="video.url"></video-embed>
        </v-card>
      </div>
    </div>
  </div>
</template>



<script>
export default {
  data() {
    return {
      videos: {}
    };
  },
  methods: {
    loadVideos() {
      axios.get("/video").then(data => (this.videos = data.data));

      //pick data from controller and push it into users object
    }
  },
  created() {
    this.loadVideos();

    Fire.$on("AfterCreatedPefilLoadIt", () => {
      //custom events fire on
      this.loadVideos();
    });
  },

  computed: {
    SearchVideo: function() {
      return this.videos.filter(item);
    }
  }
};
</script>


<style lang="scss">
.card {
  .card-title a {
    color: #212529;
    &:hover {
      text-decoration: none;
      border-bottom: 2px solid #212529;
    }
  }
  margin: 0px 5px 5px 0px;
  .card-img-top {
    max-height: 210px;
  }
}
</style>